<% include ../partials/header %>

<section id="nova">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
            <h2>Sobre <%= serie.name %></h2>
                <form method="post">
                    <div class="form-group">
                        <textarea class="form-control" name="comment" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                <br />
                <div class="row">
                    <% serie.coments.forEach(comment => { %>
                        <div class="col-12 comment"><%= comment %></div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %></section>